@import "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,latin-ext";

@import "http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600italic,600";


html {
  background:#2D2D2D
}

body {
  min-width:100px
}

body [class*=rt-grid] {
  display:inline;
  float:left;
  position:relative;
  margin:0
}

.rt-container {
  width:1200px;
  margin:0 auto;
  position:relative
}

.rt-grid-3 {
  width:300px
}

.rt-grid-4 {
  width:400px
}

.rt-grid-9 {
  width:900px
}

.rt-grid-12 {
  width:1200px
}

@media only screen and (min-width:960px) and (max-width:1199px) {
.rt-container {
  width:960px
}

.rt-grid-3 {
  width:240px
}

.rt-grid-4 {
  width:320px
}

.rt-grid-9 {
  width:720px
}

.rt-grid-12 {
  width:960px
}
}

@media only screen and (min-width:768px) and (max-width:959px) {
.rt-container {
  width:768px
}

.rt-grid-3 {
  width:192px
}

.rt-grid-4 {
  width:256px
}

.rt-grid-9 {
  width:576px
}

.rt-grid-12 {
  width:768px
}
}

@media only screen and (min-width:481px) and (max-width:767px) {
body {
  -webkit-tap-highlight-color:transparent
}

.rt-container {
  width:480px
}

.rt-container [class*=rt-grid] {
  display:block;
  float:none;
  position:relative;
  width:100%
}
}

@media only screen and (max-width:480px) {
body {
  -webkit-tap-highlight-color:transparent
}

.rt-container {
  width:95%
}

.rt-container [class*=rt-grid] {
  display:block;
  float:none;
  position:relative;
  width:100%
}
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display:block
}

html {
  font-size:100%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%
}

a:focus {
  outline-offset:-2px
}

a:active,a:hover {
  outline:0
}

img {
  max-width:100%;
  height:auto;
  vertical-align:middle;
  border:0;
  -ms-interpolation-mode:bicubic
}

button,input,select,textarea {
  margin:0;
  font-size:100%;
  vertical-align:middle
}

button,input {
  *overflow:visible
}

button::-moz-focus-inner,input::-moz-focus-inner {
  padding:0;
  border:0
}

body {
  margin:0
}

em {
  font-style:italic
}

h1,h2,h3,h4,h5,h6 {
  margin:10px 0;
  font-family:inherit;
  font-weight:700;
  line-height:1;
  color:inherit;
  text-rendering:optimizelegibility
}

ol,ul {
  padding:0
}

ol ol,ol ul,ul ol,ul ul {
  margin-bottom:0
}

li {
  line-height:20px
}

button,input,label,select,textarea {
  font-size:14px;
  font-weight:400;
  line-height:20px
}

button,input,select,textarea {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif
}

label {
  display:block;
  margin-bottom:5px
}

[class*=" icon-"],[class^=icon-] {
  display:inline-block;
  *margin-right:.3em
}


.icon-mobile:before {
  content:"\e01e"
}

a:hover {
  text-decoration:none
}

html {
  margin-bottom:1px;
  height:100%
}

body {
  margin-bottom:1px
}

.rt-block {
  padding:2px;
  margin:10px;
  position:relative
}

.rt-grid-10:after,.rt-grid-10:before,.rt-grid-11:after,.rt-grid-11:before,.rt-grid-12:after,.rt-grid-12:before,.rt-grid-1:after,.rt-grid-1:before,.rt-grid-2:after,.rt-grid-2:before,.rt-grid-3:after,.rt-grid-3:before,.rt-grid-4:after,.rt-grid-4:before,.rt-grid-5:after,.rt-grid-5:before,.rt-grid-6:after,.rt-grid-6:before,.rt-grid-7:after,.rt-grid-7:before,.rt-grid-8:after,.rt-grid-8:before,.rt-grid-9:after,.rt-grid-9:before {
  display:table;
  content:"";
  clear:both
}

body {
  font-size:16px;
  line-height:26px;
  font-family:Arial,Helvetica,Sans-Serif
}

.font-size-is-default {
  font-size:18px
}

p {
  margin:0 0 15px
}

a {
  text-decoration:none
}

a:focus {
  outline:0
}

ol,ul {
  margin:0 0 15px 20px
}

ul li {
  padding:0;
  margin:0;
  line-height:26px
}

ul ul {
  margin-left:25px;
  padding:5px 0
}

html body * dd.clear,html body * div.clear,html body * li.clear,html body * span.clear {
  background:0 0;
  border:0;
  clear:both;
  display:block;
  float:none;
  font-size:0;
  list-style:none;
  margin:0;
  padding:0;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0
}

.gantry-width-block {
  display:block;
  float:left
}

.gantry-width-spacer {
  margin:15px
}

.gantry-width-33 {
  width:25%
}

.gantry-width-80 {
  width:80%
}

input[type=checkbox],input[type=radio] {
  margin:5px
}
body .rt-center {
  text-align:center
}

body .rt-left {
  text-align:left
}

body .rt-margin-auto {
  margin:auto;
  float:none
}

[class*=" icon-"],[class^=icon-] {
  width:auto;
  height:auto
}
body {
  color:#6e6e6e;
  background:#fff
}

body .rt-block {
  margin:25px 0
}

@media only screen and (min-width:768px) {
body#scrollheader.layout-mode-responsive {
  padding-top:74px
}
}

#rt-page-surround {
  overflow:hidden
}

a {
  color:#ccf4b5;
  -webkit-transition:all .2s ease-out;
  -moz-transition:all .2s ease-out;
  -o-transition:all .2s ease-out;
  transition:all .2s ease-out;
  -webkit-tap-highlight-color:rgba(62,157,211,.5)
}

a:hover {
  color:#fce3ac
}

.font-family-anacron #rt-page-surround {
  font-family:"Open Sans",sans-serif;
  font-weight:400
}

.font-family-anacron #member-profile a,.font-family-anacron #member-registration a,.font-family-anacron .blog-featured h1,.font-family-anacron .button,.font-family-anacron .controls .btn,.font-family-anacron .formelm-buttons button,.font-family-anacron .logout-button .btn,.font-family-anacron .pagenav li a,.font-family-anacron .readon,.font-family-anacron .rokajaxsearch .inputbox,.font-family-anacron .title,.font-family-anacron button.validate,.font-family-anacron.roksearch_results a.clr {
  font-family:"Open Sans Condensed",sans-serif;
  font-weight:400
}

.font-family-anacron #member-profile a,.font-family-anacron #member-registration a,.font-family-anacron .button,.font-family-anacron .component-content h2,.font-family-anacron .controls .btn,.font-family-anacron .counter,.font-family-anacron .error,.font-family-anacron .formelm-buttons button,.font-family-anacron .gf-menu .item,.font-family-anacron .highlight,.font-family-anacron .info,.font-family-anacron .item-title,.font-family-anacron .logout-button .btn,.font-family-anacron .message,.font-family-anacron .notice,.font-family-anacron .pagenav a,.font-family-anacron .pagenavcounter,.font-family-anacron .readon,.font-family-anacron .result_title,.font-family-anacron .search_legend,.font-family-anacron .showHere,.font-family-anacron .success,.font-family-anacron .system-unpublished,.font-family-anacron .table th,.font-family-anacron .tip-title,.font-family-anacron .warning,.font-family-anacron .word_input,.font-family-anacron .word_label,.font-family-anacron a.readmore,.font-family-anacron button.validate,.font-family-anacron dt,.font-family-anacron fieldset dd,.font-family-anacron h1,.font-family-anacron h2,.font-family-anacron h3,.font-family-anacron h4,.font-family-anacron h5,.font-family-anacron h6,.font-family-anacron legend,.font-family-anacron li.author,.font-family-anacron li.comments,.font-family-anacron li.date,.font-family-anacron p.readmore a,.font-family-anacron th.title,.font-family-anacron ul.menu,.font-family-anacron.roksearch_results a.clr {
  font-family:"Open Sans Condensed",sans-serif;
  font-weight:400
}

.gf-menu .dropdown ul li .item {
  font-weight:700
}

h1 {
  font-size:250%;
  line-height:130%
}

h2 {
  font-size:160%;
  line-height:160%
}

#rt-logo {
  display:block;
  margin:9px 25px 0;
  font-size:220%;
  font-weight:700;
  line-height:50px;
  font-family:"Open Sans Condensed",sans-serif;
  color:#26B1AA
}

#rt-logo i {
  font-size:100%;
  color:#26B1AA
}

#rt-logo em {
  font-style:normal;
  color:#7ccffa
}

#rt-logo span {
  color:#7c7c7c
}

.logo-type-preset1 #rt-logo,.logo-type-preset2 #rt-logo,.logo-type-preset3 #rt-logo,.logo-type-preset4 #rt-logo,.logo-type-preset5 #rt-logo,.logo-type-preset6 #rt-logo,.logo-type-preset7 #rt-logo,.logo-type-preset8 #rt-logo {
  display:block;
  width:220px;
  height:60px;
  margin:9px 25px 0
}

.menu-block {
  float:right;
  margin:15px 0;
  padding:0
}

.gf-menu .item {
  border:0px solid transparent;
  color:#7c7c7c
}

.gf-menu li .item {
  padding-left:25px
}

.gf-menu li.active>.item {
  color:#2F2F2F
}

.gf-menu li:focus>.item,.gf-menu li:hover>.item {
  color:#26B1AA
}

.gf-menu li:before {
  font-family:FontAwesome;
  content:"\f111";
  font-size:5px;
  position:absolute;
  top:3px;
  left:15px;
  color:#c8c8c8
}

[class*=" flag-"],[class^=flag-] {
  background-position:0 0;
  background-repeat:no-repeat;
  display:inline-block;
  height:15px;
  line-height:15px;
  position:relative;
  top:2px;
  vertical-align:baseline;
  width:26px
}


.gf-menu .flags li:before {
  content:" "
}

.gf-menu .flags li .item {
  padding:0 8px;
  padding-left:10px
}

.gf-menu .flags ul li {
  padding:0
}

.gf-menu.l1>li.active:after {
  border-bottom:3px solid #ccf4b5;
  left:5px;
  bottom:-17px;
  content:"";
  position:absolute;
  width:100%
}

.gf-menu.l1>li>.item {
  height:40px;
  text-transform:uppercase
}

.gf-menu.l1>li.parent>.item {
  padding-right:15px
}

.gf-menu.l1>li.parent>.item:after {
  display:none
}

.gf-menu.l1>li:before {
  top:8px;
  left:-5px;
  list-style-type: none;
  color: white;
}

.gf-menu.l1>li:first-child:before {
  display:none;
  size:0;
  list-style-type: none;
  color: white;
}

.gf-menu .dropdown {
  background:#fff;
  box-shadow:0 0 1px 1px rgba(0,0,0,.1);
  border-radius:2px
}

@media only screen and (min-width:768px) {
.layout-mode-responsive #rt-header-surround.scrollheader {
  position:fixed;
  z-index:1000;
  right:0;
  left:0;
  top:0;
  box-shadow:0 1px 6px rgba(0,0,0,.4)
}
}

#rt-header {
  color:#2F2F2F;
  background-color:#FFF;
  box-shadow:0 1px 3px rgba(0,0,0,.5);
  position:relative
}

#rt-showcase {
  color:#FFF;
  background-color:#d0f3b5
}

#rt-showcase.slider-container {
  background-color:#fff
}

#rt-showcase.rt-overlay-dark h2.title {
  color:#fff
}

#rt-showcase a {
  color:#07659E
}

#rt-showcase a:hover {
  color:#043655
}

#rt-showcase .readon {
  vertical-align:middle;
  text-align:center;
  cursor:pointer;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  color:#3a4a5a;
  border-bottom:2px solid #8fe75c
}

#rt-showcase .readon:hover {
  vertical-align:middle;
  text-align:center;
  cursor:pointer;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  color:#3a4a5a;
  background-color:#fce3ac;
  border-bottom:2px solid #f9ca62
}
#gantry-totop {
  display:block;
  text-align:center
}

.snalign .snalign-item .snalign-text {
  margin-top:0;
  margin-bottom:5px;
  opacity:.8
}

.snalign .snalign-container .sprocket-padding {
  border:0;
  padding:0
}

.snalign .snalign-image-container {
  overflow:hidden;
  vertical-align: middle;
}

.snalign .snalign-image {
  border-radius:3px
}

@media only screen and (min-width:768px) and (max-width:959px) {
body.layout-mode-responsive .snalign-columns-12>li,body.layout-mode-responsive .snalign-columns-4>li,body.layout-mode-responsive .snalign-columns-8>li {
  width:24%
}

body.layout-mode-responsive .snalign-columns-3>li,body.layout-mode-responsive .snalign-columns-6>li,body.layout-mode-responsive .snalign-columns-9>li {
  width:32.8%
}
}

@media (max-width:767px) {
body.layout-mode-responsive .snalign-columns-1>li,body.layout-mode-responsive .snalign-columns-2>li,body.layout-mode-responsive .snalign-columns-3>li,body.layout-mode-responsive .snalign-columns-4>li,body.layout-mode-responsive .snalign-columns-5>li,body.layout-mode-responsive .snalign-columns-6>li {
  width:100%
}
}

.rt-title-center .module-title {
  text-align:center
}

.rt-big-title .title {
  font-size:40px;
  line-height:52px
}

.rt-title-divider {
  display:block;
  height:1px;
  border-top:1px solid;
  width:25%;
  margin:35px auto;
  opacity:.5
}

.rt-capitalize {
  text-transform:capitalize
}

.rt-icon {
  color:#3a4a5a;
  background:#fce3ac;
  border-radius:100%;
  display:inline-block;
  font-size:3em;
  width:100px;
  height:100px;
  line-height:100px;
  text-align:center
}

.rt-large-button {
  font-size:2em;
  padding:2% 3%
}

.fp-top.rt-block {
  width:80%;
  margin:15px auto
}

.fp-utility .snalign .sprocket-padding {
  text-align:center
}

.fp-utility .snalign .snalign-container {
  margin:15px -10px
}

.fp-feature.rt-block {
  margin:25px auto
}

.rt-totop-icon {
  font-size:2em
}

.rt-readon-row {
  text-align:center
}

.rt-readon-row .readon {
  font-style:1.5em;
  margin:25px 15px 0
}

@media only screen and (min-width:960px) and (max-width:1199px) {
body.layout-mode-responsive .rt-big-title .title {
  font-size:36.8px
}
}

@media only screen and (min-width:768px) and (max-width:959px) {
body.layout-mode-responsive .rt-big-title .title {
  font-size:32px
}
}

@media (max-width:767px) {
body.layout-mode-responsive .rt-big-title .title {
  font-size:25.6px
}
}

@media only screen and (min-width:960px) and (max-width:1199px) {
body.layout-mode-responsive h1 {
  font-size:240%;
  line-height:130%
}

body.layout-mode-responsive h2 {
  font-size:145%;
  line-height:145%
}
}

@media (min-width:768px) and (max-width:959px) {
body.layout-mode-responsive h1 {
  font-size:210%;
  line-height:120%
}

body.layout-mode-responsive h2 {
  font-size:135%;
  line-height:135%
}

body.layout-mode-responsive .gf-menu li {
  margin-right:1px
}
}

@media (max-width:767px) {
body.layout-mode-responsive {
  padding:0
}

body.layout-mode-responsive h1 {
  font-size:190%;
  line-height:130%
}

body.layout-mode-responsive h2 {
  font-size:130%;
  line-height:130%
}

body.layout-mode-responsive #rt-logo {
  margin:18px auto
}

body.layout-mode-responsive .menu-block {
  float:none;
  margin:auto
}

body.layout-mode-responsive .dropdown {
  background:none;
  box-shadow:none;
  border:0
}

body.layout-mode-responsive .dropdown-spacer {
  display:none
}

body.layout-mode-responsive #rt-copyright {
  text-align:center
}

body.layout-mode-responsive .gantry-width-20,body.layout-mode-responsive .gantry-width-25,body.layout-mode-responsive .gantry-width-30,body.layout-mode-responsive .gantry-width-33,body.layout-mode-responsive .gantry-width-40,body.layout-mode-responsive .gantry-width-50,body.layout-mode-responsive .gantry-width-60,body.layout-mode-responsive .gantry-width-66,body.layout-mode-responsive .gantry-width-70,body.layout-mode-responsive .gantry-width-75,body.layout-mode-responsive .gantry-width-80 {
  width:100%
}

body.layout-mode-responsive .gantry-width-spacer {
  margin:5px
}
}

@media only screen and (max-width:480px) {
body.layout-mode-responsive h1 {
  font-size:180%;
  line-height:110%
}

body.layout-mode-responsive h2 {
  font-size:120%;
  line-height:120%
}
}

.gf-menu {
  margin:0 auto;
  list-style:none
}

.gf-menu:after {
  display:table;
  content:'';
  clear:both
}

.gf-menu ul {
  list-style:none;
  padding:0;
  margin:0
}

.gf-menu li {
  float:left;
  display:block;
  text-align:center;
  position:relative;
  padding:0;
  margin-right:5px;
  border:0;
  border:1px solid transparent
}

.gf-menu li.active:hover>.dropdown,.gf-menu li:hover>.dropdown {
  left:0;
  top:auto;
  opacity:1
}

.gf-menu .item {
  font-size:14px;
  line-height:24px;
  padding:3px 8px;
  text-align:left;
  text-decoration:none;
  display:block;
  height:auto;
  outline:0;
  cursor:pointer
}

.gf-menu.l1>li>.item {
  font-size:15px;
  padding:0 15px;
  display:table-cell;
  vertical-align:middle;
  line-height:24px;
  font-weight:700
}

.gf-menu.l1>li>.dropdown-spacer {
  width:100%;
  height:20px
}

.gf-menu.l1>li>.dropdown {
  margin-top:0
}

.gf-menu li.parent>.item {
  position:relative;
  padding-right:35px
}

.gf-menu li.parent>.item:after {
  display:block;
  position:absolute;
  right:15px;
  top:50%;
  margin-top:-12px;
  content:"\f107";
  font-size:18px;
  opacity:.5
}

.gf-menu .column {
  float:left;
  position:relative
}

@media (max-width:767px) {
.layout-mode-responsive .gf-menu-device-container {
  padding:5px
}

.layout-mode-responsive .gf-menu .dropdown {
  width:100%;
  border:0;
  padding-top:0;
  padding-bottom:0;
  background:transparent;
  position:relative;
  left:inherit;
  top:inherit;
  opacity:1;
  *zoom:1
}

.layout-mode-responsive .gf-menu .dropdown:after,.layout-mode-responsive .gf-menu .dropdown:before {
  display:table;
  content:"";
  line-height:0
}

.layout-mode-responsive .gf-menu .dropdown:after {
  clear:both
}

.layout-mode-responsive .gf-menu .dropdown ul li {
  margin:0
}

.layout-mode-responsive .gf-menu .dropdown .column {
  width:100%
}

.layout-mode-responsive .gf-menu.l1>li {
  float:none;
  margin-left:-1px
}

.layout-mode-responsive .gf-menu.l1>li.active {
  margin-left:0;
  background:0 0;
  border:0
}

.layout-mode-responsive .gf-menu.l1>li>.item {
  font-size:15px
}
}

body.layout-mode-responsive {
  -webkit-transition:left .2s ease-out;
  -moz-transition:left .2s ease-out;
  -o-transition:left .2s ease-out;
  transition:left .2s ease-out;
  position:relative
}

@media (max-width:767px) {
.layout-mode-responsive .gf-menu-device-container.responsive-type-panel~ul.gf-menu {
  display:none
}

#rt-logo {
  font-size:300%;
  width:100%;
  margin:14px 0 0;
  text-align:center
}
}

.menu-block .gf-menu .dropdown {
  left:auto;
  height:0;
  padding:0;
  overflow:hidden
}

.menu-block .gf-menu li.active:hover>.dropdown,.menu-block .gf-menu li:hover>.dropdown {
  height:auto;
  padding:5px 0;
  overflow:visible
}

.snalign {
  position:relative;
  -webkit-transform:translateZ(0)
}

.snalign:after {
  display:table;
  content:"";
  clear:both
}

.snalign .snalign-container {
  position:relative;
  padding:0;
  clear:both
}

.snalign-overlay {
  display:none;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:transparent;
  z-index:2
}

.snalign-overlay .css-loader-wrapper {
  width:60px;
  height:60px;
  margin:25% auto 0;
  padding:20px;
  background-color:#e5e5e5;
  background-color:rgba(0,0,0,.5);
  box-shadow:0 0 5px rgba(0,0,0,.4)inset,1px 1px 1px rgba(255,255,255,.1);
  border-radius:1em
}

.snalign-container {
  margin:0;
  padding:0;
  list-style:none
}

.snalign .sprocket-padding {
  padding:15px;
  border:1px solid rgba(0,0,0,.1)
}

.snalign-image-container {
  margin-bottom:15px;
  display:block;
  position:relative
}

.snalign-container li {
  display:inline-block;
  -webkit-backface-visibility:hidden
}

.snalign-columns-3 li {
  width:32.9%
}

@media (min-width:1220px) {
.snalign-columns-3 li {
  width:33%
}
}

.snalign-columns-4 li {
  width:24%
}

.snalign-item {
  display:block;
  position:relative;
  -webkit-backface-visibility:hidden
}

.snalign-item .snalign-image {
  width:100%
}

.snalign-item .snalign-text {
  margin:15px 0;
  display:block;
  line-height:1.4em;
  font-size:85%
}

.snalign-hover {
  bottom:0;
  left:0;
  position:absolute;
  top:0;
  width:100%
}

.snalign-hovercontent {
  position:absolute;
  text-align:center;
  top:50%;
  width:100%;
  display:block
}

.snalign-hovercontent span {
  display:none
}

.snalign-overlay .css-loader:before {
  color:#fff;
  content:"\f110";
  font-size:60px;
  display:block;
  margin:20px auto;
  width:53px;
  text-shadow:none
}

.snalign-item {
  margin:10px
}

.snalign .snalign-container {
  margin:-10px
}

.slider-container {
  width:100%;
  margin:0;
  position:relative
}

.slider-container .rt-grid-12 {
  height:auto;
  width:100%
}

.slider-container .csslider1 {
  margin-top:0
}

.slider-container .csslider1 img {
  max-width:none
}
.devices-block {
  float:left;
  padding-top:22px
}

.devices-block>label {
  background:0 0;
  -webkit-box-shadow:none;
  box-shadow:none;
  border-top:2px solid transparent;
  border-right:0;
  border-left:0;
  border-bottom-color:transparent
}

.devices-block>label,.devices-block>label:hover {
  position:relative;
  display:inline-block;
  cursor:pointer;
  padding:0;
  margin:0;
  width:33px;
  height:25px
}

.devices-block>label:after {
  content:none
}

#device-fullwidth:checked~#rt-header .fullwidth,#device-fullwidth:checked~#rt-header-surround .fullwidth,#device-laptop:checked~#rt-header .laptop,#device-laptop:checked~#rt-header-surround .laptop,#device-mobile:checked~#rt-header .mobile,#device-mobile:checked~#rt-header-surround .mobile {
  background-color:#CBECFD;
  border-top-color:#7ccffa;
  border-bottom:0
}

.devices-block>label i {
  position:relative;
  vertical-align:middle
}

.icon-mobile:before {
  font-size:19px
}

.icon-laptop:before {
  font-size:23px;
  content:"\f109"
}

.icon-fullwidth:before {
  font-size:17px;
  content:"\f0b2"
}

#slider-iframe {
  display:block;
  margin:0 auto;
  -webkit-transition:all .4s ease-in-out;
  -o-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out;
  width:100%;
  height:450px
}

#device-laptop:checked~.slider-container #slider-iframe,#device-laptop:checked~section #slider-iframe {
  width:864px;
  height:450px
}

#device-mobile:checked~.slider-container #slider-iframe,#device-mobile:checked~section #slider-iframe {
  width:500px;
  height:260px
}

@media only screen and (max-width:1199px) and (min-width:960px) {
.devices-block {
  margin-left:20px
}
}

@media only screen and (max-width:959px) {
.devices-block {
  display:none
}
}